BROKER_HOST=localhost
BROKER_PORT=5672
BROKER_USER=guest
BROKER_PASS=guest

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASS=





